<%- include('../partials/admin/head.ejs') %>



<body>

  <!-- main wrapper -->

  <div class="dashboard-main-wrapper">

    <!-- navbar -->

    <%- include('../partials/admin/menu.ejs') %>

    <!-- end navbar -->


    <!-- left sidebar -->

    <%- include('../partials/admin/sidebar.ejs') %>

    <!-- end left sidebar -->


    <!-- wrapper  -->

    <div class="dashboard-wrapper">
      <div class="container-fluid  dashboard-content">

        <!-- pagehader  -->

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-block" id="basicform">
              <h3 class="section-title"> Modifier une voiture</h3>

            </div>
            <div class="card">
              <div class="card-body">
             
                <form action="" method="post" enctype="multipart/form-data">

                  <div class="form-group">
                    <label for="car_id" class="col-form-label">car_id</label>
                    <input  id="car_id" type="text" name="car_id" class="form-control"  value="<%= cars.car_id%>" >
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-form-label">Nom</label>
                    <input id="name" type="text" name="name" class="form-control" value="<%= cars.name %>">
                  </div>
                  <div class="form-group">
                    <label for="content" class="col-form-label">contenu</label>
                    <input id="content" type="text" name="content" class="form-control" value="<%= cars.content %>">
                  </div>
                  <div class="form-group">
                    <label for="kilometre" class="col-form-label">Kilométrage</label>
                    <input id="kilometre" type="text" name="kilometre" class="form-control" value="<%= cars.kilometre %>">
                  </div>
                  <div class="form-group">
                    <label for="price" class="col-form-label">prix</label>
                    <input id="price" type="text" name="price" class="form-control" value="<%= cars.price %>" >
                  </div>
                  <div class="form-group">
                    <label for="year" class="col-form-label">année</label>
                    <input id="inputText3" type="text" name="year" class="form-control" value="<%= cars.year %>" >
                  </div>
                  <div class="form-group">
                    <label for="color" class="col-form-label">année</label>
                    <input id="color" type="text" name="color" class="form-control" value="<%= cars.color %>">
                  </div>
                 
                  
                  <div class="form-group">
                    <label for="input-select">Carburant, le carburant actuelle est : <%= cars.carburant %></label>
                    <select name="fuel_id" class="form-control" id="input-select">
                      <% fuelsList.forEach(function(fuel) {%>
                      <option value="<%=fuel.fuel_id%>"><%=fuel.name%></option>
                      <%});%>

                    </select>
                  </div>


                  <div class="form-group">
                    <label for="input-select">Catègorie,le Catègorie actuelle est : <%= cars.categorie %></label>
                    <select name="category_id" class="form-control" id="input-select">
                      <% categoriesList.forEach(function(category) {%>
                      <option value="<%=category.category_id %>"><%=category.name%></option>
                      <%});%>

                    </select>
                  </div>
                  <div class="form-group">
                    <label for="input-select">Fabricant, le Fabricant actuelle est : <%= cars.fabricant %></label>
                    <select name="manufacturer_id" class="form-control" id="input-select">
                      <% manufacturersList.forEach(function(manufacturer) {%>
                      <option value="<%=manufacturer.manufacturer_id %>"><%=manufacturer.name%></option>
                      <%});%>
                    </select>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Envoyer une photo</label>
                    <div class="col-sm-10">
                      <input name="image" type="file" class="form-control">
                    </div>
                  </div>
                  
                  <button  type="submit">éditer une voiture</button>
                </form>


            
   
              </div>
            

  
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../partials/admin/script.ejs') %>

    </html>


